<app-navbar></app-navbar>
<div id="intro" style="margin-top: 150px">
  <div class="container">
    <div class="intro">
      <h1>Xác nhận đặt hàng</h1>
      <p>Cảm ơn bạn đã đặt hàng</p>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th scope="col" class="text-start">Sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Tổng giá</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="product-infor">
                <img
                  src="https://i.imgur.com/TAzli1U.jpg"
                  alt=""
                  class="product-image"
                />
                <span class="product-name">Tên sản phẩm</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000</td>
            <td>200,000</td>
          </tr>
          <tr>
            <td>
              <div class="product-infor">
                <img
                  src="https://i.imgur.com/TAzli1U.jpg"
                  alt=""
                  class="product-image"
                />
                <span class="product-name">Tên sản phẩm</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000</td>
            <td>200,000</td>
          </tr>
          <tr>
            <td>
              <div class="product-infor">
                <img
                  src="https://i.imgur.com/TAzli1U.jpg"
                  alt=""
                  class="product-image"
                />
                <span class="product-name">Tên sản phẩm</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000</td>
            <td>200,000</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center mt-3">
        <button class="btn btn-secondary">Tiếp tục mua sắm</button>
      </div>
    </div>
  </div>
</div>
